  .card {
    border-radius: 15px;
  }
  
  .card-body {
    background-color: rgba(147, 147, 147, 0);
    border-radius: 15px;
    padding: rem;
  }
  
  h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-weight: bold;
  }
  
  .login-image {
    width: 100px;
    height: 80px;
    margin-bottom: 1rem;

    

  }

  .input-group {
    border: 1px solid #ced4da;
    border-radius: 50px;
    overflow: hidden;
    background-color: #f9f9f9;
  }
  
  .input-group-text {
    background-color: #f9f9f9;
    border: none;
  }
  
  .form-control {
    border: none;
    border-radius: 0 50px 50px 0;
    padding: 0.75rem 1rem;
    background-color: #f9f9f9;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #ff6347;
  }
  
  .btn-primary {
    background-color: #7849FF;
    border: none;
    border-radius: 50px;
    padding: 0.75rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #3f67f8;
  }
  
  .text-decoration-underline {
    color: #2209de5e;
    transition: color 0.3s ease;
  }
  
  .text-decoration-underline:hover {
    color: #8594c7;
    text-decoration: none;
  }
  
  .text-danger {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  .additional-links {
    font-size: 0.9rem;
    color: #555;
    margin-top: 1rem;
  }
  
  .additional-links a {
    color: #887ddf;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .additional-links a:hover {
    color: #2209de;
    text-decoration: none;
  }
  